<div class="container">
	<section class="section is-medium ">
		 <div class="columns is-centered">
       		<div class="column is-half">
				<center>
					<h3>Welcome to</h3>
					<h1 class="title is-1"><strong><span class="avalon">Avalon</span></strong></h1>			
					<p align="center">An MVC PHP framework with educational intent. Its purpose is the practical implementation of design patterns, application architecture concepts, and best software development practices.</p>
					<br>
				</center>		
				<h3 class="title is-3">Get Started</h3>
				<strong>1. Clone avalon git repository:</strong>
				<br>
				<pre>git clone https://github.com/andrespineli/avalon</pre> 
				<br>
				<strong>2. Install with composer</strong>
				<br>
				<pre>composer install</pre> 
				<br><br>
				<h3 class="title is-3">Read the Docs</h3>
				<center><a href="/docs/pt-br" class="button is-normal is-info">Portuguese (pt-BR)</a></center>
				
			</div>
		</div>
	</section>
</div>




